@model LanguageFeatures.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindProducts</title>
</head>
<body>
    <fieldset>
        <legend>Product</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Price)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Category)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
